@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand&display=swap");

/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
}

.add-task{
    
     width: 100vw;
     height: 10vh;
     /* border: 2px solid blue; */
}
.add-task form{
    width: 30%;
    height: 100%;
    /* background-color: red; */
    margin: 0 auto;
    padding: 10px;
    
}

.add-task form input{
    padding: 10px;
    margin: 0 10px;
    border: 2px solid rgb(146, 144, 144);
    border-radius: 5px;
}

.add-task form input[type=button]:hover{
    cursor: pointer;
    background-color: #3333;
}

.task-list{
    width: 100vw;
    height: 90vh;
    /* border: 2px solid grey; */
    display: flex;
    flex-direction: row;
}

.task-list .todo{
    
    width: 50%;
    height: 100%;
    border: 2px solid black;

}

.task-list .finished{
    width: 50%;
    height: 100%;
    border: 2px solid black;

}
